<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>servlet_study</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.java.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LifeServlet</display-name>
    <servlet-name>LifeServlet</servlet-name>
    <servlet-class>cn.java.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServlet</servlet-name>
    <url-pattern>/LifeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo1Servlet</display-name>
    <servlet-name>Demo1Servlet</servlet-name>
    <servlet-class>cn.java.servlet.Demo1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo1Servlet</servlet-name>
    <url-pattern>/Demo1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo2Servlet</display-name>
    <servlet-name>Demo2Servlet</servlet-name>
    <servlet-class>cn.java.servlet.Demo2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo2Servlet</servlet-name>
    <url-pattern>/Demo2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo3Servlet</display-name>
    <servlet-name>Demo3Servlet</servlet-name>
    <servlet-class>cn.java.servlet.Demo3Servlet</servlet-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo3Servlet</servlet-name>
    <url-pattern>/Demo3Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Demo4Servlet</display-name>
    <servlet-name>Demo4Servlet</servlet-name>
    <servlet-class>cn.java.servlet.Demo4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo4Servlet</servlet-name>
    <url-pattern>/Demo4Servlet</url-pattern>
  </servlet-mapping>
</web-app>