<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>login_EL_JSTL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ELServlet</display-name>
    <servlet-name>ELServlet</servlet-name>
    <servlet-class>com.whr.servlet.ELServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ELServlet</servlet-name>
    <url-pattern>/ELServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSTL_foreach_Servlet</display-name>
    <servlet-name>JSTL_foreach_Servlet</servlet-name>
    <servlet-class>com.whr.servlet.JSTL_foreach_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSTL_foreach_Servlet</servlet-name>
    <url-pattern>/JSTL_foreach_Servlet</url-pattern>
  </servlet-mapping>
</web-app>